@import "tailwindcss";

@theme {
  --animate-loader: loader 1.2s ease-in-out infinite;

  @keyframes loader {
    0%,
    100% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(1.15);
    }
  }
}